@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body{
    background: #fff;
    font-family: 'Staatliches', sans-serif;
    color:#03A3D3;
    overflow-x: hidden;
}

.bg-div {
  background-image: url('/backCover1.jpg');
  background-size: cover;
  background-position: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
  }

.inter {
  font-family: 'Inter', sans-serif;
}

.sans {
  font-family: 'DM Sans', sans-serif;
}

  *, *::before, *::after {
    box-sizing: border-box;
  }

.shadow:hover {
  box-shadow: 3px 5px 4px 0px #00000040;
}

.boxShadow{
  box-shadow: 0px 4px 4px 0px #00000040;
}

.boxShadowHover:hover{
  box-shadow: 0px 4px 4px 0px #00000040;
}

.about-text {
  margin-bottom: 8px;
}

.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-btn {
  color: #00a1df;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
  font-size: 14px;
}